.headerSearch{background: rgb(24, 142, 95);
    background: radial-gradient(circle, rgb(16, 184, 225) 0%, rgb(145, 224, 9) 100%);
  height: 40px;
  border: 1px sole;
 
}

.fomrSearch{display: flex;
    justify-content: center;
    
   

}

.inputSearch{margin-top: 10px;
    width: 180px;
    border-radius: 4px;}

.btn{margin-top: 10px;
margin-left: 10px;
border-radius: 4px;
}

.btn:focus,
.btn:hover {transform: scale(1.1);
}